@using Clase7.Modelo2doParcial.Data.EF
@model Sucursal

<form action="/sucursales/crear" method="post">
    <div class="form-horizontal">
        <h4>Sucursal</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <div class="col-md-10">
                <partial name="/Views/Shared/_ComboSucursales.cshtml">
            </div>
        </div>

        
        <div class="form-group">
            <label asp-for="Direccion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Ciudad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" value="grabar" />
    </div>
</form>

